alias cfg='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

###############################################################################
# Stuff I created

alias e=emacs
alias ll="ls -al"
alias .="source"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias t="tmux"
alias n="npm"
alias code="code"
alias iplogstage="~/git/interprime/platform/api/tail-logs.sh staging"
alias iplogprod="~/git/interprime/platform/api/tail-logs.sh production"
alias ipsshprod="(cd ~/git/interprime/platform/api && eb ssh api-prod)"
alias jupy="/Users/gtp/opt/anaconda3/envs/jupy/bin/jupyter-notebook --no-browser --NotebookApp.token='' --notebook-dir='/Users/gtp/git'"
alias xl="open -a \"Microsoft Excel\""
alias h=history
alias y=yarn
alias clab=clone-and-browse
alias vlc='/Applications/VLC.app/Contents/MacOS/VLC'
alias tree='tree -h' # Make tree print out sizes by default
alias da=docker_attach
alias sudo='sudo ' # Enable aliases to be sudo’ed
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --enable-features=SharedArrayBuffer & >/dev/null 2>&1'
alias curl='curl --silent'

###############################################################################
# Random stuff from Matthias Bynen's dotfiles

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
# Recursively delete `.DS_Store` files
alias cleanup="find . -maxdepth 1 -type f \( -name '*~' -o -name '#*' -o -name '*.DS_Store' \) -ls -delete"
# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'
# Hide/show all desktop icons (useful when presenting)
alias hidedesktopicons="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktopicons="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
# Merge PDF files (Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`)
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'
# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done
# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"
